# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript build output
dist/
*.tsbuildinfo

# Coverage directory used by nyc/istanbul
coverage
.nyc_output

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

.vscode
token
