
TLN_COMPONENT_PARAM_DB_ROOT_USER=${TLN_COMPONENT_PARAM_DB_ROOT_USER}
TLN_COMPONENT_PARAM_DB_ROOT_PASS=${TLN_COMPONENT_PARAM_DB_ROOT_PASS}
TLN_COMPONENT_PARAM_DB_NAME=${TLN_COMPONENT_PARAM_DB_NAME}
TLN_COMPONENT_PARAM_DB_VOLUME=${TLN_COMPONENT_PARAM_DB_VOLUME}
