#sonar.host.url=
#sonar.login=
#sonar.password=

sonar.projectKey=${TLN_COMPONENT_UID}
sonar.projectName=${TLN_COMPONENT_UID}
sonar.projectVersion=${TLN_COMPONENT_VERSION}
#sonar.projectDescription=
#sonar.links.homepage=
#sonar.links.ci=
#sonar.links.issue=
#sonar.links.scm=

sonar.sourceEncoding=UTF-8
