
COMPONENT_PARAM_DB_ROOT_USER=${COMPONENT_PARAM_DB_ROOT_USER}
COMPONENT_PARAM_DB_ROOT_PASS=${COMPONENT_PARAM_DB_ROOT_PASS}
COMPONENT_PARAM_DB_NAME=${COMPONENT_PARAM_DB_NAME}
COMPONENT_PARAM_DB_VOLUME=${COMPONENT_PARAM_DB_VOLUME}
