
sonar.sources=src
sonar.exclusions=**/node_modules/**,**/*.spec.ts
sonar.tests=src
sonar.test.inclusions=**/*.spec.ts

sonar.javascript.jstest.reportsPath=reports
sonar.javascript.lcov.reportPaths=reports/coverage.lcov
