#sonar.host.url=
#sonar.login=
#sonar.password=

sonar.projectKey=
sonar.projectName=
sonar.projectVersion=
#sonar.projectDescription=
#sonar.links.homepage=
#sonar.links.ci=
#sonar.links.issue=
#sonar.links.scm=

